
$sidebarTextColor: #CCD5DB;
$sidebarBg: #263238;

body.admin_dashboard {
    padding-left: 250px !important;   
    color: #0c0c0c; 
}

// Sidebar Menu
.admin_sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 200px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    min-height: 100vh;
    background: #263238;
    color: $sidebarTextColor;
    .asheader {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 10px 0;
        background-color: rgba(0,0,0,0.1);
        a {
            color: $sidebarTextColor;
        }
    }

    .slisting ul li a {
        width: 250px;
        color: $sidebarTextColor;
    }
}
 