
$sidebarTextColor: #CCD5DB;
$sidebarBg: #263238;

body.admin_dashboard {
    padding-left: 250px !important;   
    color: #0c0c0c; 
    background-color: #f8f9fa;
}

// Sidebar Menu
.admin_sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 200px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    min-height: 100vh;
    background: #263238;
    color: $sidebarTextColor;
    .asheader {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 10px 0;
        background-color: rgba(0,0,0,0.1);
        a {
            color: $sidebarTextColor;
        }
    }

    .slisting ul li a {
        width: 250px;
        color: $sidebarTextColor;
    }

    .asfooter {
        color: $sidebarTextColor;
    }
}
 
// Admin Header
.adheader {
    height: 50px;
    z-index: 1000;

    .topnotify {
        .dropdown-menu {
            font-size: 12px;
            border-radius: 0;
            right: 0px !important;
            left: unset !important;
            -moz-transform: translate3d(0, 58px, 0px) !important;
            -webkit-transform: translate3d(0, 58px, 0px) !important;
            -o-transform: translate3d(0, 58px, 0px) !important;
            -ms-transform: translate3d(0, 58px, 0px) !important;
            transform: translate3d(0, 58px, 0px) !important;
            box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.5);
            max-height: 300px; 
            overflow-y: scroll; 
            margin-top:-9px;
            top: 0px;
        }
        .list-inline-item {
            .dropdown-item i {
                position: absolute;
                left: 15px;
                top: 8px;
            }
            .profile-icons .dropdown-item {
                padding: 5px 15px 5px 30px;
            }
            .dropdown-toggle {
                cursor: pointer; 
                padding: 15px 10px;
                &.show,
                &:hover {
                    background: rgba(0,0,0,0.1);
                }
            }
        }
    }
}

/*Dashboard Cards*/
.dash_card {
    i {
        position: absolute;
        color: rgba(8, 67, 191, 0.2);
        font-size: 100px;
        left: 46px;
        top: 29px;
    }
}
 